
/*** ESSENTIAL STYLES ***/
.head-menu, .head-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.head-menu {
	line-height:	1em;
}
.head-menu ul {
	position:		absolute;
	top:			-999em;
	width:			10em; /* left offset of submenus need to match (see below) */
}
.head-menu ul li {
	width:			100%;
}
.head-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.head-menu li {
	float:			left;
	position:		relative;
}
.head-menu a {
	display:		block;
	position:		relative;
}
.head-menu li:hover ul,
.head-menu li.sfHover ul {
	left:			0;
	top:			52px; /* match top ul list item height */
	z-index:		99;
}
ul.head-menu li:hover li ul,
ul.head-menu li.sfHover li ul {
	top:			-999em;
}
ul.head-menu li li:hover ul,
ul.head-menu li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}
ul.head-menu li li:hover li ul,
ul.head-menu li li.sfHover li ul {
	top:			-999em;
}
ul.head-menu li li li:hover ul,
ul.head-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

/*** DEMO SKIN ***/
.head-menu {
	float:			left;
	margin-bottom:	1em;
}
.head-menu a {
	padding: 		.75em 1em;
	text-decoration:none;
}
.head-menu a, .head-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:			#fff;
	font-size:11pt;
	font-family:Arial;

}


#menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu ul li{
	display:inline;
}

#menu ul li a{
	font-weight: normal;
}

.head-menu li:first-child
{
    margin-left:6px;
}
.head-menu li li:first-child, .head-menu li li li:first-child
{
    margin:0;
}

.head-menu li 
{
    line-height:32px; 
}
.head-menu li a
{
    background-image:url('../img/nav/border-right.png');
    background-position:right bottom;
    background-repeat:no-repeat;
    padding: 10px 20px;
}
.head-menu li li a
{
    background-image:none;
}


.head-menu li li {
	background:		#fbc13e;
    line-height:14px; 
}
.head-menu li li li {
	background:		#9AAEDB;
    line-height:14px; 
}
.head-menu li:hover, .head-menu li.sfHover,
.head-menu a:focus, .head-menu a:hover, .head-menu a:active {

	outline:		0;
}
.head-menu li:hover
{
    background-image:url('../img/nav/mid-hover.png');
    background-repeat:repeat-x;
    background-position:center center;
}

.head-menu li li:hover, .head-menu li li li:hover, .head-menu li li a:hover, .head-menu li li li a:hover
{
    background-image:none;
    background-color:#fe9f10;
}

/*** arrows **/
.head-menu a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('../img/nav/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.head-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.head-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.head-menu ul a:focus > .sf-sub-indicator,
.head-menu ul a:hover > .sf-sub-indicator,
.head-menu ul a:active > .sf-sub-indicator,
.head-menu ul li:hover > a > .sf-sub-indicator,
.head-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:	url('../img/nav/shadow.png') no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}
