# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
*.suo
_ReSharper.BlogEngine
BlogEngine/BlogEngine/BlogEngine.5.1.ReSharper.user
BlogEngine/BlogEngine/BlogEngine.NET/App_Data/PiczardTempFiles/
BlogEngine/BlogEngine/_ReSharper.BlogEngine - IIS/
BlogEngine/BlogEngine/BlogEngine.NET/App_Data/twitter_feeds.xml

# mstest test results
TestResults