<?xml version="1.0"?>

<configuration>
  <location path="EditSponsor.aspx">
    <system.web>
      <authorization>
      </authorization>
    </system.web>
  </location>
  <location path="Sponsoren.aspx">
    <system.web>
      <authorization>
      </authorization>
    </system.web>
  </location>
</configuration> 
