<?xml version="1.0" encoding="utf-8"?>
<settings>
  <displayratingsonrecentposts>True</displayratingsonrecentposts>
  <authorname>Carnaval Radio</authorname>
  <email>info@carnaval-radio.nl</email>
  <mobiletheme>Mobile</mobiletheme>
  <postsperfeed>10</postsperfeed>
  <postsperpage>10</postsperpage>
  <htmlheader />
  <contactthankmessage>&lt;h1&gt;Bedankt&lt;/h1&gt;&lt;p&gt;Je bericht is verzonden, er wordt z.s.m. op gereageerd.&lt;/p&gt;</contactthankmessage>
  <emailsubjectprefix>[Support] </emailsubjectprefix>
  <trackingscript />
  <showdescriptioninpostlist>False</showdescriptioninpostlist>
  <commentsperpage>10</commentsperpage>
  <enablepingbacksend>True</enablepingbacksend>
  <showdescriptioninpostlistforpostsbytagorcategory>False</showdescriptioninpostlistforpostsbytagorcategory>
  <commentblacklistcount>2</commentblacklistcount>
  <iscocommentenabled>False</iscocommentenabled>
  <compresswebresource>True</compresswebresource>
  <addiptowhitelistfilteronapproval>False</addiptowhitelistfilteronapproval>
  <themecookiename>theme</themecookiename>
  <trustauthenticatedusers>True</trustauthenticatedusers>
  <enablecountryincomments>True</enablecountryincomments>
  <contactformmessage>&lt;p&gt;Voor vragen, informatie over sponsoring of overige opmerkingen kunt u onderstaand contactformulier gebruiken.&lt;/p&gt;</contactformmessage>
  <searchbuttontext>Zoeken</searchbuttontext>
  <showincludecommentsoption>False</showincludecommentsoption>
  <israzortheme>False</israzortheme>
  <enablewebsiteincomments>False</enablewebsiteincomments>
  <enablecontactattachments>False</enablecontactattachments>
  <blogrollmaxlength>23</blogrollmaxlength>
  <showpingbacks>False</showpingbacks>
  <searchdefaulttext>Zoeken...</searchdefaulttext>
  <language>nl-NL</language>
  <smtpserver>smtp.carnaval-radio.nl</smtpserver>
  <disqusdevmode>False</disqusdevmode>
  <showpostnavigation>False</showpostnavigation>
  <displaycommentsonrecentposts>True</displaycommentsonrecentposts>
  <enabletrackbackreceive>True</enabletrackbackreceive>
  <enableopensearch>True</enableopensearch>
  <dayscommentsareenabled>0</dayscommentsareenabled>
  <useblognameinpagetitles>True</useblognameinpagetitles>
  <smtpusername>info</smtpusername>
  <enableerrorlogging>False</enableerrorlogging>
  <enablehttpcompression>True</enablehttpcompression>
  <enablepasswordreset>True</enablepasswordreset>
  <disqusaddcommentstopages>False</disqusaddcommentstopages>
  <alternatefeedurl />
  <enablecommentsmoderation>True</enablecommentsmoderation>
  <enabletrackbacksend>True</enabletrackbacksend>
  <timezone>0</timezone>
  <feedauthor />
  <allowservertodownloadremotefiles>False</allowservertodownloadremotefiles>
  <culture>Auto</culture>
  <disquswebsitename />
  <handlewwwsubdomain />
  <theme>CarnavalRadio</theme>
  <sendmailoncomment>True</sendmailoncomment>
  <description>De vastelaoves Radio!!</description>
  <blogrollvisibleposts>5</blogrollvisibleposts>
  <geocodinglatitude>0</geocodinglatitude>
  <numberofreferrerdays>1</numberofreferrerdays>
  <iscommentsenabled>True</iscommentsenabled>
  <syndicationformat>Rss</syndicationformat>
  <smtpserverport>25</smtpserverport>
  <blockauthoroncommentdelete>False</blockauthoroncommentdelete>
  <iscommentnestingenabled>True</iscommentnestingenabled>
  <timestamppostlinks>True</timestamppostlinks>
  <enablereferrertracking>False</enablereferrertracking>
  <avatar>wavatar</avatar>
  <smtppassword>radio1</smtppassword>
  <numberofrecentcomments>10</numberofrecentcomments>
  <enablerecaptchaoncontactform>False</enablerecaptchaoncontactform>
  <enablessl>False</enablessl>
  <name>Carnaval Radio</name>
  <moderationtype>Auto</moderationtype>
  <enablepingbackreceive>True</enablepingbackreceive>
  <showlivepreview>True</showlivepreview>
  <galleryfeedurl>http://dnbegallery.org/feed/FeedService.svc</galleryfeedurl>
  <remotemaxfilesize>524288</remotemaxfilesize>
  <enablerelatedposts>True</enablerelatedposts>
  <remotefiledownloadtimeout>30000</remotefiledownloadtimeout>
  <enableenclosures>False</enableenclosures>
  <endorsement>http://www.dotnetblogengine.net/syndication.axd</endorsement>
  <removewhitespaceinstylesheets>True</removewhitespaceinstylesheets>
  <commentwhitelistcount>1</commentwhitelistcount>
  <descriptioncharacters>300</descriptioncharacters>
  <addiptoblacklistfilteronrejection>False</addiptoblacklistfilteronrejection>
  <descriptioncharactersforpostsbytagorcategory>0</descriptioncharactersforpostsbytagorcategory>
  <commentreportmistakes>False</commentreportmistakes>
  <searchcommentlabeltext>Reacties?</searchcommentlabeltext>
  <numberofrecentposts>10</numberofrecentposts>
  <selfregistrationinitialrole>Select</selfregistrationinitialrole>
  <enableselfregistration>False</enableselfregistration>
  <blogrollupdateminutes>60</blogrollupdateminutes>
  <geocodinglongitude>0</geocodinglongitude>
  <requiresslmetaweblogapi>False</requiresslmetaweblogapi>
  <enablerating>False</enablerating>
  <enablecommentsearch>False</enablecommentsearch>
</settings>